html {
  background-color: #101d29;
}

* {
  opacity: 0; /* Initial opacity is 0 */
  transition: opacity 0.5s; /* Transition effect */
}

.loaded {
  opacity: 1; /* Final opacity is 1 */
}

p {
  font-family: "Silkscreen";
  weight: 400;
  color: #c8d3e6;
}

a {
  font-family: "Silkscreen";
  weight: 400;
  color: #8cc8ff;
  text-decoration: none;
}

a:hover {
  color: #a3d3ff;
}

h1 {
  font-family: "Silkscreen";
  color: #e0ecff;
}

h2 {
  font-family: "Silkscreen";
  color: #e0ecff;
}

h3 {
  font-family: "Silkscreen";
  color: #e0ecff;
}

h4 {
  font-family: "Silkscreen";
  color: #e0ecff;
}

hr {
  border: none;
  border-bottom: 5px dotted #e0ecff; /* very light gray color */
  max-width: 100%;
  overflow: hidden;
}
