html {
  background-color: #101d29;
}

p {
  font-family: "VT323";
  weight: 400;
  color: #c8d3e6;
}

h1 {
  font-family: "VT323";
  color: #e0ecff;
}

h2 {
  font-family: "VT323";
  color: #e0ecff;
}

h3 {
  font-family: "VT323";
  color: #e0ecff;
}

h4 {
  font-family: "VT323";
  color: #e0ecff;
}
